{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.map %}
            <img src="/uploads/map/{{ object.map }}" style="max-width: 150px; max-height: 100px;"/>
        {% else %}
            <img src="/uploads/no_image.png" style="width: 150px; height: 100px;"/>
            {# or whatever to create src of image #}
        {% endif %}
    </div>
{% endblock %}